{% extends "bets/base.html" %} 
{% block content %}


<style>
  #paypal-button-container{
    position: relative;
    top: 5%;
    padding: 15px;
    background-color: #1F1F1F; 
    border-radius: 25px;
    width: 15%;

  }

  .paymentMethods{
    position: absolute;
    top: 15%;
    padding: 15px;
    background-color: white;
    border-radius: 25px;
    width: 80%;
    height: 80%;
    left: 10%;

  }
</style>
<!DOCTYPE html>

<head>
    <!-- Add meta tags for mobile and IE -->

</head>

<div class="content-section">
  <h2> Withdraw Page </h2>
  <div class="border-top pt-3">

  </div>
</div>
</body>
 
    
{% endblock content %}
